.box {width:50%; height:100%; left:25%; position:absolute;}
.white-1 {width: 20.96%; height: 29.74%; background-color: #f6f6f6; position: absolute;}
.black-1 {width: 20.96%; height: 6.14%; top: 29.74%; background-color: #151308; position: absolute;}
.white-2 {width: 20.96%; height: 35.77%; top: 35.88%; background-color: #f6f6f6; position: absolute;}
.black-2 {width: 100%; height: 2.86%; top: 71.65%; background-color: #151308; position: absolute;}
.blue {width: 20.96%; height: 25.49%; top: 74.51%; background-color: #034f9f; position: absolute;}
.black-3 {width: 3.17%; height: 100%; left: 20.96%; background-color: #151308; position: absolute;}
.red {width: 75.87%; height: 71.65%; left: 24.13%; background-color: #ec2724; position: absolute;}
.white-3 {width: 62.16%; height: 25.49%; top: 74.51%; left: 24.13%; background-color: #f6f6f6; position: absolute;}
.black-4 {width: 3.5%; height: 25.49%; left: 86.29%; top: 74.51%; background-color: #151308; position: absolute;}
.white-4 {width: 10.21%; height: 10.72%; left: 89.79%; top: 74.51%; background-color: #f6f6f6; position: absolute;}
.black-5 {width: 10.21%; height: 4.05%; left: 89.79%; top: 85.23%; background-color: #151308; position: absolute;}
.yellow {width: 10.21%; height: 10.72%; left: 89.79%; top: 89.28%; background-color: #f5e368; position: absolute;}